.activities {
    margin-bottom: 20px;
    background-color: #2E2E2E;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    max-height: 500px;
    overflow: scroll;
  }

  .special-announcement-newStudent {
    background: linear-gradient(45deg, #5a5a5a 25%, #202020 25%, #202020 50%, #5a5a5a 50%, #5a5a5a 75%, #202020 75%);
    background-size: 300% 300%;
    animation: metallic 300s linear infinite;
    border: 2px solid #4caf50;
    border-radius: 5px;
    box-shadow: 0 0 10px #4caf50;
    position: relative;
    overflow: hidden;
  }
  
  .special-announcement-newStudent::before {
    content: "";
    position: absolute;
    left: -50%;
    width: 100%;
    height: 100%;
   background: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%);
    background-size: 100px 100px;
    animation: reflection 300s linear infinite;
  }

  .special-announcement-newTeam {
    background: linear-gradient(45deg, #3a3a3a 25%, #101010 25%, #101010 50%, #3a3a3a 50%, #3a3a3a 75%, #101010 75%);
    background-size: 100px 100px;
    animation: slide 10s linear infinite;
    border: 2px solid #ff5722;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff5722;
    position: relative;
    overflow: hidden;
  }
  
  .special-announcement-newTeam::before {
    content: "";
    position: absolute;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%);
    background-size: 100px 100px;
    animation: reflection 300s linear infinite;
  }

  @keyframes slide {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100px 100px;
    }
  }

  @keyframes metallic {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes reflection {
    0% {
      left: -50%;
    }
    100% {
      left: 150%;
    }
  }

  @keyframes colorShift {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  