@import "../../_variables";

.individual-list {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 100%;
  background-color: lighten($secondary-color, 5%);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 10%;
  transform: translateY(-10px);
  pointer-events: none;
  z-index: 10;
}

.individual-list-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.individual-item {
  padding: 25px;

  &:not(:last-child) {
    border-bottom: 1px solid lighten($primary-color, 10%);
  }
}

.toggle-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  color: $primary-color;
}

.individual-list-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.visible {
  max-height: 1000px; // Adjust this value based on the maximum height you expect the list to have
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-name {
  height: 24px;
  width: 150px;
  margin-bottom: 12px;
}

.skeleton-rank {
  height: 16px;
  width: 80px;
  margin-bottom: 12px;
}

.skeleton-progress {
  height: 16px;
  width: 100px;
  margin-bottom: 12px;
}

.skeleton-progress-bar {
  height: 12px;
  width: 100%;
}
