@import "../../_variables";

.admin-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(200px, auto);
  align-items: start;
  justify-items: stretch;
  padding: 20px;
  background-color: $secondary-color;
}

.card {
  padding: 30px;
  background-color: $secondary-color;
  border-radius: 15px;
  box-shadow: 0 4px 6px $shadow-color;
  min-height: 410px;
}

.card.double-width {
  grid-column: span 2;
}

.stats,
.team-creation,
.project-verification {
  width: 100%;
}

.admin-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: lighten($secondary-color, 15%);
  border: 1px solid $highlight-color;
  border-radius: 8px;
  color: $primary-color;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.admin-submit {
  align-self: flex-end;
  padding: 12px 20px;
  background-color: $primary-color;
  color: $text-color;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px $shadow-color;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.admin-submit:hover {
  background-color: darken($primary-color, 10%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.admin-submit:active {
  background-color: darken($primary-color, 20%);
  box-shadow: 0 1px 2px $shadow-color;
}

.grant-bonus-points {
  width: 100%;
  p{
    padding: 20px;
  }
}
